.navigation {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 3rem !important;
  margin-bottom: 8rem;
}

.navigation .logo {
  font-size: 2.4rem;
  font-family: 'Montserrat Alternates', sans-serif;
}

.navigation .logo a {
  color: #000;
}

.navigation .logo a:hover {
  text-decoration: none;
}

.navigation .nav {
  width: 46.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .nav .navlink a {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.navigation .nav .navlink a:hover {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  color: #1078ce;
}

.navigation .logout {
  border: 0;
  background: none;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
